* {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}




/* Navbar sytling */

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

}

ul {
    margin-left: 0;
    padding-left: 0;
}


li,
a {
    text-decoration: none;
    list-style: none;
}

a {
    font-size: 2.5rem;
    font-weight: bold;
}


a.disabled {
    color: gray;
}


/* Main sytling */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
}


.smiley {
    display: flex;
    align-items: center;
    justify-content: center;

}




.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
    gap: 10rem;
}

button {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
}

.good-btn {
    background-color: green;


}

.bad-btn {
    background-color: red;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

footer {

    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}